<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics> 
    <trace autoflush="true" indentsize="4"> 
        <listeners>                    
           <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\cecho.log" /> 
        </listeners> 
    </trace> 
    <switches> 
        <!-- You must use integral values for "value".  Use 0 for off, 1 for error, 2 for warn, 3 for info, and 4 for verbose. 
        -> 
        <add name="EqtTraceLevel" value="4" /> 
    </switches> 
</system.diagnostics>-->
</configuration>